nav {
    background-color: #243642;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.nav-logo {
    display: flex;
    align-items: center;
}

.logo-image {
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 30px; /* Adjust the gap as needed for proper spacing */
    margin-left: auto; /* Push the links to the right */
}

a {
    text-decoration: none;
    color: white;
    padding: 10px; /* Add padding for better spacing around the links */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #387478;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .nav-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-left: 0;
        margin-top: 10px;
        gap: 20px; /* Adjust the gap for smaller screens */
    }

    .nav-logo {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-links a {
        padding: 5px; /* Adjust padding for smaller screens */
    }
}

.About {
    background-color: #C4DAD2;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px; /* Adjusted margin for better spacing */
    padding: 20px; /* Add padding for better spacing */
}

footer {
    background-color: #E2F1E7;
    color: black;
    text-align: center;
    padding: 5px;
}